#text 
text_test1 : "asdf"
text_test2 : "TRUE"
text_test3 : "False"

#float
float_test1 : 1.2
float_test2 : 1.0
float_test3 : -1.2

#int
int_test1 : 6
int_test2 : 1
int_test3 : 0
int_test4 : -1
int_test5 : -6

#text - array
text_array_test1 : {"asdf", "qwerty"}
text_array_test2 : {"true", "True", "TRUE", "tRUE"}
text_array_test3 : {"false", "False", "FALSE", "fALSE"}
text_array_test4 : {"-1", "0", "1", "11"}

#float - array
float_array_test1 : {9.1, 9.2, 9.3}

#int - array
int_array_test1 : {1, 2, 3, 4}

#space
space_test1:1
space_test2            :2
space_test3:            3
space_test4 : {1,2,3,4}
space_test5 : {1,       2,         3,           4}
space_test6 : {"a1",       "b    2",         "  c 3",           "d4    "}

#tab
tab_test1	:1
tab_test2:	2
tab_test3 : {1,	2,	3,	4}
tab_test4 : {"A1",	"B	2",	"	C3",	"D4	"}
